.what-we-do{
  margin-bottom: 10rem;
  width: 95%;
}

.what-we-do h1{
  color: var(--color-orange);
  letter-spacing: 2px;
  text-align: center;
  padding: 1rem;
  margin-bottom: -3rem;
}

.what-we-do h2{
  font-size: 52px;
  letter-spacing: 3px;
  margin-bottom: -3.5rem;
  color: var(--color-bluish-gray);
  text-align: center;
  padding: 0.2rem;
}
