<div class="footer">
  <app-container>
    <div class="footer-column">
      <div class="logo">
        <img src="../../../assets/logo/logo-regular.png" alt="Logo da sua empresa">
      </div>
      <div class="mark">
        <h2>Menu</h2>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/about">About Us</a>
        </li>
        <li>
          <a routerLink="/products">Products</a>
        </li>
        <li>
          <a routerLink="/features">Features</a>
        </li>
        <li>
          <a routerLink="/contact">Contact</a>
        </li>
      </div>
      <div class="mark">
        <h2>Quick Links</h2>
        <li>
          <a routerLink="/">Blog</a>
        </li>
        <li>
          <a routerLink="/">Support</a>
        </li>
        <li>
          <a routerLink="/">Careers</a>
        </li>
        <li>
          <a routerLink="/">Privacy Policy</a>
        </li>
      </div>
      <div class="mark">
        <h2>Contact</h2>
        <li>
          <a routerLink="/">56 Hendford Rd, Warwickshire, BH10 5AU</a>
        </li>
        <li>
          <a routerLink="/">contact@info.com</a>
        </li>
        <li>
          <a routerLink="/">01202 511337</a>
        </li>
      </div>
    </div>
  </app-container>
  <hr class="line">
  <app-container>
    <div class="text-footer">
      <span>Copyright © 2024 SaaS App Company | Powered by SaaS App Company</span>
      <div class="rede-sociais">
        <img src="../../../assets/rede-sociais-icons/icons-facebook.svg" tooltip="Facebook" [options]="myOptions">
        <img src="../../../assets/rede-sociais-icons/icons-twitter.svg" tooltip="Twitter" [options]="myOptions">
        <img src="../../../assets/rede-sociais-icons/icons-instagram.svg" tooltip="Instagram" [options]="myOptions">
      </div>
    </div>
  </app-container>
</div>>
